body {
    background: url(../img/mountains.jpg);
    background-size: cover;
    color: white;
    font-size: 30px;
}
.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
}
div span {
    font-weight: bold;
    color: blue;
    font-size: 40px;
}
.alecto {
    color: white;
}
.bottom-text {
    font-size: 20px;
}
button {
    border-radius: 50px;
    color: white;
    background: none;
    height: 40px;
    width: 150px;
}
p, div form {
    text-align: center;
}
.badge {
    display: block;
    margin-top: 50px;
}