.main {
    width: 350px;
    height: 200px;
    background: linear-gradient(to bottom left, #3630c6, #f3d047);
    border: 1px solid blue;
    box-shadow: -3px 3px 5px 1px gray;
    margin-left: 200px;
    margin-top: 200px;
    transform: rotate(-30deg);
}
.dot {
    border:1px solid red;
    border-radius: 50px;
    width: 5px;
    height: 5px;
    background: red;
    position: absolute;
    top: -5px;
    left: 170px;
}